<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <h1>Filmes</h1>
    <table>
        {{#vetFilme}}
        <tr>
            <td>
                <a class="btn btn-danger" href="/excluir/{{id}}">Excluir</a> 
            </td> 
            <td>{{titulo}} -  {{sinopse}} </td>
        {{/vetFilme}}
    </table>
    <a href="/tela_adicionar" class="btn btn-primary">Novo Filme</a>
    <hr>
    <h2>Clientes</h2>
    <a href="/tela_adicionar_cliente" class="btn btn-primary">Adicionar Clientes</a>
    <hr>
    <a href="/tela_venda_ingresso" class="btn btn-warning">Comprar Ingressos</a>
</body>
</html>